target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
maven-eclipse.xml
infinitest.filters

node_modules/
npm-debug.log

.nodejs
.project
.classpath
.settings
.externalToolBuilders
.pmd
.checkstyle
.idea
.vagrant
*.iml
.DS_Store
.rubygems
.sass-cache
.rubygems-gem-maven-plugin
*.sublime-*
*nbactions*.xml
.temp/

out