# Declare text files with unix file ending
*.conf text eol=lf
*.config text eol=lf
*.css text eol=lf
*.dtd text eol=lf
*.esp text eol=lf
*.ecma text eol=lf
*.groovy text eol=lf
*.hbrs text eol=lf
*.hbs text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.java text eol=lf
*.jpage text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsp text eol=lf
*.mustache text eol=lf
*.tld text eol=lf
*.launch text eol=lf
*.log text eol=lf
*.php text eol=lf
*.pl text eol=lf
*.project text eol=lf
*.properties text eol=lf
*.props text eol=lf
*.sass text eol=lf
*.scss text eol=lf
*.sh text eol=lf
*.shtm text eol=lf
*.shtml text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.vm text eol=lf
*.xml text eol=lf
*.xsd text eol=lf
*.xsl text eol=lf
*.xslt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf


# Declare windows-specific text files with windows file ending
*.asp text eol=crlf
*.asax text eol=crlf
*.asa text eol=crlf
*.aspx text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.reg text eol=crlf
*.sln text eol=crlf
